.cart-item {
    height: 150px;
    display: grid;
    grid-template-columns: auto 14%;
    align-items: center;
}

.cart {
    border-bottom: 1px solid #696565;
    display: grid;
    grid-template-columns: auto 60% auto;
    align-items: center;
    padding-bottom: 14px;
}

.cart:last-child {
    border: 0px;
}

.cart-item .img {
    width: 100px;
    height: 100px;
}

.remove {
    align-items: center;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}
.remove img {
    width: 30px;
    height: 30px;
}